@font-face {
  font-family: 'knockout-light';
  src: url('../assets/fonts/knoc29jl-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/knoc29jl-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/knoc29jl-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/knoc29jl-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/knoc29jl-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/knoc29jl-webfont.svg#knockoutlightlight') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'knockout-regular';
  src: url('../assets/fonts/knock49l-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/knock49l-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/knock49l-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/knock49l-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/knock49l-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/knock49l-webfont.svg#knockoutregularregular') format('svg'); /* Legacy iOS */
}