<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <ul>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="@Url.Action("Index","Gruppi")">Gruppi</a></li>
    </ul>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
