<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("Index","Gruppi")">Gruppi</a></li>
        </ul>
    </nav>

    <main> 
        @RenderBody()
    </main>
</body>
</html>
