<div>
    <h2>@ViewContext.Controller.ViewBag.NomePagina</h2>
</div>
<h1>Questo è il mio bellissimo sito!</h1>

@RenderBody()


<div>
    <h2>@ViewContext.Controller.ViewBag.NomePagina</h2>
</div>

All Right Reserved