$news-row-size: 7;
$news-sm-col-size-header: 7;
$news-md-col-size-header: 2;
$news-sm-col-size-content: 7;
$news-md-col-size-content: 5;

#news {
    > header {
        background: $light-gray;
        @include grid-column-row;
        }

    > nav {
        text-align: center;
        @include breakpoint(medium){
            text-align: right;
            }
        }
    } /* end #news */
    .news__article {
        background: $light-gray;
        @include grid-row($news-row-size);
        > header {
            @include grid-column($news-sm-col-size-header);
            @include breakpoint(medium){
                @include grid-column-size($news-md-col-size-header);
                }
            }
        > section {
            @include grid-column($news-sm-col-size-content);
            @include breakpoint(medium){
                @include grid-column-size($news-md-col-size-content);
                }

            > p {
                @include breakpoint(large){
                    column-count: 2;
                    }
                }
            }
        } /* end .news__article */
