$news-sm-col-size-header: 100%;
$news-sm-col-size-content: 100%;

$news-md-col-size-header: 2 of 7;
$news-md-col-size-content: 5 of 7;

$news-padding-top: rem-calc(8);
$news-header-padding-top: rem-calc(18);
$news-padding-bottom: rem-calc(34);

$news-border: 1px solid $light-gray;
$news-backgroud: $lighter-gray;

#news {
    > header {
        background: $news-backgroud;
        border-top: $news-border;
        padding-top: $news-header-padding-top;

        @include grid-column-row;
        }

    > nav {
        text-align: center;
        @include breakpoint(medium){
            text-align: right;
            }
        }
    } /* end #news */
    .news__article {
        background: $news-backgroud;
        border-bottom: $news-border;
        padding-top: $news-padding-top;
        padding-bottom: $news-padding-bottom;

        @include grid-row();
        > header {
            @include grid-column($news-sm-col-size-header);
            @include breakpoint(medium){
                @include grid-column-size($news-md-col-size-header);
                }
            }
        > div {
            @include grid-column($news-sm-col-size-content);
            @include breakpoint(medium){
                @include grid-column-size($news-md-col-size-content);
                }
            @include breakpoint(large){
                column-count: 2;
                }
            }
        } /* end .news__article */
